<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-mock-server.ZPM">
    <Module>
      <Name>iris-mock-server</Name>
      <Version>0.1.3</Version>
      <Description>InterSystems IRIS Mock Server</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="iris-mock-server.PKG"/>
    </Module>
  </Document>
</Export>
